:root {
  --theme-color: #7a9de3;
  --theme-light-color: #f0f7ff;
  --accent-color: #8b0204;
  --bg-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
